// 44 - 30
// 40 - 30
// 30 - 20index - 24
// 26 - 26
// 24 - 24
// 18 - 18

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-main;
  font-weight: 700;
  line-height: 1.5em;
}
/* Typography */
h1 {
  font-size: 44px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 26px;
}
h5 {
  font-size: 24px;
}
h6 {
  font-size: 18px;
}
p {
  font-size: 16px;
  line-height: 1.6em;
}

.nobr {
  white-space: nowrap;
}

@mixin typography-xxxlg-xxxxlg {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 28px;
  }
}

@mixin typography-md-lg {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 26px;
  }
  h5 {
    font-size: 20px;
  }
}

@mixin typography-xsm-sm {
  h1 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
}

@mixin typography-xxxxsm-xxxsm {
  h1 {
    font-size: 28px;
  }
  h3 {
    font-size: 20px;
  }
}
