$black: #1d3557;
$white: #ffffff;
$white-1: #f8fbfd;
$white-2: #f9f9f9;
$gray: #d6d5d4;
$gray-1: #c4c4c4;
$gray-2: #CEDAEB;
$primary: #3ba0f2;
$green: #00d95a;
$green-1: #00de5d;
$green-0: #00943e;
$red: #fd3636;
$red-0: #a50c0c;
$yellow: #f2c94c;

$font-main: "Nunito", "Roboto", sans-serif;
